@media only screen and (max-width: 1000px) {
    .nav-menu {
        display: block;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0%;
        z-index: 2;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-logo {
        font-size: 15px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* Home section */
    .hero {
        flex-direction: column;
        align-items: start;
    }

    .hero-briefing {
        width: 100%;
        text-align: center;
    }

    .hero-img {
        width: 100%;
    }

    .hero-briefing h1 {
        text-align: center;
        font-size: 2rem;
        line-height: 2rem;
    }

    .hero-briefing p {
        left: 0;
    }

    /* Goals Section */
    .goals {
        flex-direction: column;
    }

    .goals-img {
        width: 100%;
    }

    .goals-content {
        width: 100%;
    }

    /* About section */
    .about {
        flex-direction: column;
    }

    .about-content {
        width: 100%;
    }

    .about-img {
        width: 100%;
    }

    /* Acoordion  */
    .acc-item h3 span {
        font-size: 12px;
    }

    /* About Page */
    .about-us-content-img {
        width: 100%;
    }

    /* Research Page */
    .content-main {
        width: 100%;
    }

    /* Application Page */
    .application {
        flex-direction: column;
    }

    .application-img {
        width: 100%;
    }

    .application-form {
        width: 100%;
    }

    /* Support */
    .support {
        flex-direction: column;
    }
    .support-briefing {
        width: 100%;
    }

    .support-title h1{
        font-size: 1.5rem;
    }

    .support-image {
        width: 100%;
    }

    /* Footer section */
    .footer-nav {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-link {
        gap: 5px;
    }

    .footer-sub-navlist {
        flex-direction: column;
        align-items: start;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-social {
        flex-direction: column;
        align-items: start;
    }
}